node_modules/
dist/
lib/
tsconfig*buildinfo
npm-debug.*
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
coverage/
web-build/
.vscode/

# npm
.npmrc

# hermes
_dev-*/
__local__
__edit__
edit.notes.md
